**/*.mp4
**/*.avi
**/*.mkv
**/*.mov
**/*.flv
**/*.wmv
**/*.webm
**/*.mpeg
**/*.mpg
**/*.m4v
**/*.3gp
**/*.ogv


**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.tif
**/*.svg
**/*.webp
**/*.heic
**/*.ico
**/*.psd
**/*.ai


**/*.mp3
**/*.wav
**/*.aac
**/*.flac
**/*.ogg
**/*.m4a
**/*.wma
**/*.aiff
**/*.alac
**/*.opus

.idea

test/.pytest_cache/

/logs/

data/

.pytest_cache

config/__pycache__/

test/__pycache__/

scripts/__pycache__/main.cpython-310.pyc

scripts/__pycache__/__init__.cpython-310.pyc

downloader/__pycache__/__init__.cpython-310.pyc
downloader/__pycache__/bing_downloader.cpython-310.pyc
downloader/__pycache__/image_processing.cpython-310.pyc
downloader/__pycache__/utils.cpython-310.pyc

__pycache__/exceptions.cpython-310.pyc